nav {
    padding-block: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #ebebeb;
    background-color: #FFF;
    position: fixed;
    z-index: 999;
}

.codeby--header {
    color: royalblue;
    font-size: 2rem;
    font-weight: 900;
}

@media(min-width: 45rem) {
    nav {
        width: calc(100% - 18rem);
    }
}

@media(min-width: 70rem) {
    nav {
        width: calc(100% - 23rem);
    }
}